.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 59px;
    font-size: 1rem;
    padding: 0 1rem;
    color: #fff;
    background:#005105;
    border-radius: 50px;
    cursor: pointer;
}

.try-again-link{
    cursor: pointer;

}

.rec-pass{
    width: 80vw !important;
}

.corpo{
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center ;
}